<?xml version="1.0" encoding="UTF-8"?>
<PROPSTABLE DESC="TABLENAME">
	<PROPSROW DESC="PARK">
		<NAME>Park</NAME>
		<HOST>localhost</HOST>
		<PORT>2000</PORT>
		<HEARTBEATTIME>500</HEARTBEATTIME>
	</PROPSROW>
	<PROPSROW DESC="WEB">
		<HOST>localhost</HOST>
		<PORT>2001</PORT>
		<USERS>admin:admin,guest:123456,test:test</USERS>
	</PROPSROW>
	<PROPSROW DESC="FILESYSTEM">
		<LBNAME>FileSystemLB</LBNAME>
		<LBHOST>localhost</LBHOST>
		<LBPORT>2002</LBPORT>
		<SERVERS>localhost:3000:FileSystem0,localhost:3001:FileSystem1</SERVERS>
	</PROPSROW>
	<PROPSROW DESC="CACHE">
		<ROUTENAME>CacheRoute</ROUTENAME>
		<ROUTEHOST>localhost</ROUTEHOST>
		<ROUTEPORT>2003</ROUTEPORT>
		<SERVERS>localhost:4001:Cache0,localhost:4002:Cache1</SERVERS>
	</PROPSROW>

	<PROPSROW DESC="WORKER">
		<HOST>localhost</HOST>
		<PORT>2088</PORT>
	</PROPSROW>
</PROPSTABLE>